*{
    margin: 0;
    padding: 0;
    font-family: 'open sans';
    font-size: 60px;
    letter-spacing: 0.05em;
    font-style: normal;
    font-weight: 800;
}

/* Untuk Google Chrome saat di minimize*/

#com{
    margin-left: 13em;
    margin-top: -2em;
}

#player1{
    margin-top: -2em;
    margin-left: -3em;
}


#refresh{
    margin-left: 11em;
    margin-top: -9em;
}

#VS{
    display: grid;
    border-radius: 20px;
    height : 80px;
    width: 100px;
    color: white;
    margin-left:2em;
    margin-top:0.1em;
    font-size:2em;
    color: #BD0000;
    position : absolute;
}

#resultbaru{
    display: grid;
    border-radius: 20px;
    height : 600px;
    width: 900px;
    color: white;
    margin-left:5em;
    margin-top:-1em;
    font-size:3em;
    font-weight: 700;
    background-color: #4C9654;
    position : absolute;
    text-align: center;
    transform: rotate(-28.87deg);
    justify-items: center;
}

.judul{
    margin-left: 6em;
    margin-top: 3em;
    color: #F9B23D;
}

#batu{
    margin-left: -13em;
    margin-top: -2em;
}

#batu2{
    margin-top: -2em;
    margin-left: -7em;
}

#kertas{
    margin-left: -13em;
    margin-top: -1em;
}

#kertas2{
    margin-top:-1em;
    margin-left:15em;
    position: absolute;
}

#gunting{
    margin-left: -13em;
    margin-top: -1em;
}

#gunting2{  
    margin-top: -1em;
    margin-left: -4.5em;
}

.logo{
    margin-top: -3em;
    margin-left: 2.5em;
}

.left-arrow{
    font-size: 1.8em;
    color: #724C21;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-top: -2em;
    margin-left: 0.5em;
}

button{
    background-color: #9C835F;
    border: none;
    height: 6em;
    width : 6em;
}

button:hover{
    background-color:#C4C4C4;
    border-radius: 30px;
}

button.active{
    background-color:#c4c4c4;
    transform: translateY(4px);
    border-radius: 30px;
}


/* Responsive untuk layar hp(small devices)*/
@media only screen and (min-width: 576px ) {
.judul{
    font-size: 1em;
    margin-left: 6em;
    margin-top: 1em;
}
.logo{
    margin-top: -6em;
}
.left-arrow{
    margin-top: -2.8em;
}
#player1{
    font-size: 0.9em;
    margin-top: -1em;
}
#com{
    font-size: 0.9em;
    margin-top: -1.9em;
    margin-left: 25em;
}
#batu{
    margin-left: -12em;
}
#batu2{
    margin-left: 12em;
    margin-top: -6em;
}
#kertas{
    margin-left: -12em;
}
#kertas2{
    margin-left: 12em;
}
#resultbaru{
    margin-left: -0.3em;
}
#gunting{
    margin-left: -11em;
}
#gunting2{
    margin-left: 13em;
    margin-top: -6.5em;
}
}

/* Untuk Tablet (medium devices)*/
@media only screen and (min-width: 768px ) {
.judul{
    font-size: 1.3em;
}
.logo{
    margin-top: -7em;
}
.left-arrow{
    margin-top: -3.1em;
}
#resultbaru{
    height : 500px;
    width: 760px;
    text-align: center;
    justify-items: center;
}
#player1{
    font-size: 1.2em;
}
#com{
    font-size: 1.2em;
    margin-left: 18.5em;
    margin-top: -2em;
}
}

/*Untuk Extra Large Devices*/
@media only screen and (min-width: 1200px ) {
.logo{
    margin-top: -3em;
    margin-left: 3.5em;
}
.left-arrow{
    margin-top: -2em;
}
#com{
    margin-top:-1em;
    margin-left: 0.5em;
}
#batu2{
    margin-top:-2em;
    margin-left: -16em;
}
#VS{
    font-size: 3.5em;
    margin-left: 0.5em;
    margin-top: -0.1em;
}
#gunting{
    margin-left:-11.5em;
}
#gunting2{
    margin-left: -15em;
    margin-top: -1em;
}
#refresh{
    margin-left: 10.5em;
    margin-top: -10.5em;
}
}

/* Untuk Fullscreen Laptop 2560-4K*/
@media only screen and (min-width: 2555px ) {
.logo{
    margin-top: -3em;
    margin-left: 3.5em;
}
.left-arrow{
    margin-top: -2em;
}
#VS{
    font-size: 7em;
    margin-top: -0.5em;
    margin-left: 3em;
}
#com{
    margin-top:-1em;
    margin-left:18em;
}
#batu2{
    margin-top: -2em;
    margin-left: 2.5em;
}
#kertas2{
    margin-left: 47.5em;
}
#gunting2{
    margin-left: 5em;
    margin-top: -1em;
}
.refresh-pic{
    width: 300px;
    height: 300px;
}
#refresh{
    margin-left: 31em;
}
#resultbaru{
    height: 600px;
    width: 900px;
    margin-left: 6em;
}
}
